{% block element_ict_hero_section %}
    {% set c = element.config %}
    {% set background = '' %}
    {% set bgImageUrl = element.data.backgroundMedia.url ?? '' %}
    {% if c.backgroundType.value == 'color' %}
        {% set background = 'background-color:' ~ (c.backgroundColor.value ?: '#f8f9fa') ~ ';' %}
    {% elseif c.backgroundType.value == 'image' %}
        {% if bgImageUrl %}
            {% set background = 'background-image:url(\'' ~ bgImageUrl ~ '\');background-size:cover;background-position:center;background-repeat:no-repeat;' %}
        {% else %}
            {% set background = 'background-color:#f7f7f7;' %}
        {% endif %}
    {% elseif c.backgroundType.value == 'video' %}
        {% set background = 'background-color:#1a1a2e;' %}
    {% else %}
        {% set background = 'background:linear-gradient(135deg,' ~ (c.backgroundGradientColor1.value ?: '#0b5c8a') ~ ' 0%,' ~ (c.backgroundGradientColor2.value ?: '#1559d6') ~ ' 100%);' %}
    {% endif %}
    {% set minHeight = c.minHeight.value ?: '560px' %}

    {% set alignmentClass = 'align-left' %}
    {% if c.textAlignment.value is defined and c.textAlignment.value is not empty %}
        {% set alignmentClass = 'align-' ~ c.textAlignment.value %}
    {% endif %}

    <section class="cms-element-ict-hero-section" style="{{ background }}min-height:{{ minHeight }};">
        {% if c.backgroundType.value == 'video' and element.data.video.url is defined and element.data.video.url is not empty %}
            <video class="cms-element-ict-hero-section__video-bg" autoplay loop muted playsinline src="{{ element.data.video.url }}"></video>
        {% endif %}

        <div class="cms-element-ict-hero-section__container">
            <div class="cms-element-ict-hero-section__left {{ alignmentClass }}">
                {% if c.labelText.value %}
                    {% set labelStyles = [] %}
                    {% if c.labelBackgroundColor.value is not empty %}
                        {% set labelStyles = labelStyles|merge(['background-color:' ~ c.labelBackgroundColor.value]) %}
                    {% endif %}
                    {% if c.labelTextColor.value is not empty %}
                        {% set labelStyles = labelStyles|merge(['color:' ~ c.labelTextColor.value]) %}
                    {% endif %}
                    {% if c.labelBorderColor.value is not empty %}
                        {% set labelStyles = labelStyles|merge(['border-color:' ~ c.labelBorderColor.value]) %}
                    {% endif %}
                    <span
                        class="cms-element-ict-hero-section__label"
                        {% if labelStyles|length %}style="{{ labelStyles|join(';') }};"{% endif %}
                    >
                        {{ c.labelText.value }}
                    </span>
                {% endif %}

                <h2 class="cms-element-ict-hero-section__headline" style="color:{{ c.headlineColor.value ?: '#ffffff' }};">
                    {{ c.headlineText.value }}
                </h2>

                <div class="cms-element-ict-hero-section__description" style="color:{{ c.descriptionColor.value ?: '#e9ecef' }};">
                    {{ c.descriptionText.value|raw }}
                </div>

                <div class="cms-element-ict-hero-section__actions">
                    {% if c.primaryButtonText.value %}
                        {% set primaryUrl = c.primaryButtonLink.value ?: '#' %}
                        {% if c.primaryButtonLinkType.value == 'external' and primaryUrl != '#' and not (primaryUrl starts with 'http://') and not (primaryUrl starts with 'https://') and not (primaryUrl starts with '//') and not (primaryUrl starts with 'mailto:') and not (primaryUrl starts with 'tel:') %}
                            {% set primaryUrl = 'https://' ~ primaryUrl %}
                        {% endif %}
                        <a
                            href="{{ primaryUrl }}"
                            target="{{ c.primaryButtonTarget.value ?: '_self' }}"
                            class="cms-element-ict-hero-section__button cms-element-ict-hero-section__button--primary"
                            style="background-color:{{ c.primaryButtonBackgroundColor.value ?: '#0064ff' }};color:{{ c.primaryButtonTextColor.value ?: '#ffffff' }};"
                        >
                            {{ c.primaryButtonText.value }}
                        </a>
                    {% endif %}

                    {% if c.showSecondaryButton.value and c.secondaryButtonText.value %}
                        {% set secondaryUrl = c.secondaryButtonLink.value ?: '#' %}
                        {% if c.secondaryButtonLinkType.value == 'external' and secondaryUrl != '#' and not (secondaryUrl starts with 'http://') and not (secondaryUrl starts with 'https://') and not (secondaryUrl starts with '//') and not (secondaryUrl starts with 'mailto:') and not (secondaryUrl starts with 'tel:') %}
                            {% set secondaryUrl = 'https://' ~ secondaryUrl %}
                        {% endif %}
                        <a
                            href="{{ secondaryUrl }}"
                            target="{{ c.secondaryButtonTarget.value ?: '_self' }}"
                            class="cms-element-ict-hero-section__button cms-element-ict-hero-section__button--secondary"
                            style="background-color:{{ c.secondaryButtonBackgroundColor.value ?: 'transparent' }};color:{{ c.secondaryButtonTextColor.value ?: '#212529' }};border-color:{{ c.secondaryButtonTextColor.value ?: '#212529' }};"
                        >
                            {{ c.secondaryButtonText.value }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
